# JWT settings
SECRET_KEY=key
ALGORITHM = alg
ACCESS_TOKEN_EXPIRE_MINUTES = 120

# PostgreSQL settings
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db

# S3 storage settings
S3_ACCESS_KEY_ID=access_key
S3_SECRET_ACCESS_KEY=secret_key
S3_URL=url
S3_PUBLIC_URL=http://localhost:9000

# ADMIN SEED
ADMIN_EMAIL=email
ADMIN_PASSWORD=password

# Payment
YOOKASSA_SHOP_ID=id
YOOKASSA_SECRET_KEY=key

# ngrok
NGROK_AUTHTOKEN=token

# ImageKit
IMAGEKIT_PUBLIC_KEY=key
IMAGEKIT_PRIVATE_KEY=key
IMAGEKIT_URL_ENDPOINT=url

# AI
OLLAMA_URL=http://host.docker.internal:11434

